GOOGLE_SERVICE_ACCOUNT_PATH="/Users/pavel.sambur/.config/google/google-service-account.json"
BACKOFFICE_ENV_FILE="/Users/pavel.sambur/.config/ubo/.env"

GOOGLE_SHEET_SAB_WIDGET_MANAGEMENT_ID="1HpqdXvKjXjmNU44IUJeQtx9E13Od3BwaATRJsqZeXIs"
GOOGLE_SHEET_SAB_WIDGET_MANAGEMENT_WIDGET_LINKS_SHEET_NAME="sab_top_tournaments_widgets_links"
